@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Condensed:wght@300;400;700&display=swap');

:root {
    --cor-principal: #ffe6ff;
    --cor-escuro: #51424e;
    --cor-secundario: #ce42bb;
    --cor-amarelo: #f9f871;
    --cor-azul: #7779ff;
    --cor-rosa: #ff77eda4;
    --cor-beje: #ddd7c6;
}

#body {
    background-color: var(--cor-beje);
}

#rodape {
    background-color: var(--cor-escuro);
    color: var(--cor-secundario);
}

#ancora {
    text-decoration: none;
    color: var(--cor-amarelo);
    font-size: 20px;
    transition: color 0.3s ease;
}

#ancora:hover {
    color:var(--cor-principal);
    cursor: pointer;
    text-decoration: underline;
}

.habilidades {
    text-decoration: none;
}